*hosts
!roles/etc-hosts/
!roles/etc-hosts/**
registry-images/*.tar.gz
registry-images/*.tgz
/group_vars/*yml
uploads/*
certs/*
secrets/certs/**
!secrets/certs/**/.gitkeep
output/*

.vscode
.idea
*.swp

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
