keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
log tracking measurements statistics
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 0.1 3

{% for ip in ntp_ip %}
server {{ ip }} iburst minpoll 1 maxpoll 5
{% endfor %}
