##########################################################
# This config from template resolv playbook by pre init #
##########################################################
nameserver 127.0.0.1
search {{ seg_fqdn }}
